body {
    margin-left:10%;
    margin-right:10%;
}
.inner {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logoBox {
    display:flex;
    flex-direction: row;
    height:120px;
}

.logoImage{
    width:70px;
    height:70px;
    margin-top:25px;
}

#title {
    height:50px;
    width:400px;
    border-color:#c4c4c4;
    border-width:2px;
    border-radius: 10px;
    font-size:25px;
    text-align: center;
    box-shadow: none;
}

.mainContent {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:50px;
}

.leftBox {
    width:400px;
    height:300px;
    margin-right:50px;
}

.dateFromBox {
    margin-bottom:30px;
}
.dateToBox {
    margin-bottom:30px;
}

#from {
    border-color:#c4c4c4;
    border-radius: 10px;
    height:40px;
    width:200px;
    font-size:20px;
    text-align: center;
}

#to {
    border-color:#c4c4c4;
    border-radius: 10px;
    height:40px;
    width:200px;
    font-size:20px;
    margin-left:19px;
    text-align: center;
}

.rightBox {
    display:flex;
    flex-direction: column;
    width:400px;
    height:300px;
    justify-content: space-between;
    margin-right:80px;
}

.selectIcon {
    width:50px;
    height:50px;
    margin-right:50px;
}

.startTime, .endTime, .passwordBox, .makeButton {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:350px;
    height:60px;
    border:solid;
    border-radius:40px;
    border-color:#A0CD63;
    border-width:3px;
    padding-left:20px;
}

#startTimeSelcet {
    width:150px;
    height:50px;
    border-radius: 10px;
}

#pw {
    border:none;
    font-size:20px;
    width:220px;
}

.makeButton {
    background-color:#A0CD63;
    text-align: center;
}
#makeBtn {
    border:none;
    font-size:30px;
    color:white;
    background-color: #A0CD63;
    text-align: center;
}

.leftBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size:20px;
}

input {
    box-shadow: none !important;
}