.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuTitleBox {
    display: flex;
    flex-direction: row;
}

.paperIcon {
    width:50px;
    height:50px;
}
.writeTitleBox {
    border:solid;
    border-color:#A0CD63;
    border-width: 3px;
    width:1018px;
    height:56px;
    margin-bottom:30px;
}
.writeTitleInput {
    border:none;
    width:1000px;
    height:50px;
    font-size:20px;
    outline: none;
    box-shadow: none;
    padding-left:15px;
}
textarea {
    border-color:#c4c4c4;
    border-width:3px;
    width:1002px;
    height:460px;
    outline:none;
    font-size:15px;
    padding-left:15px;
    padding-top:15px;
}

.content {
    border:solid;
    border-color:#c4c4c4;
    border-width:3px;
    width:1002px;
    height:460px;
    padding-left:15px;
}

#submitButton {
    width:150px;
    height:40px;
    border-radius: 40px;
    border:none;
    font-size:30px;
    color:white;
    background-color: #A0CD63;
    text-align: center;
    vertical-align: middle;
    margin-left:860px;
    margin-top:10px;
    cursor:pointer;
}

input {
    box-shadow: none !important;
}