.detail1 {
   
    background-image: url('img/detailSchedule.png');
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 10px;

}
.detail2{
    background-image: url('img/detailSchedule2.png');

}
.detail3{
    background-image: url('img/detailSchedule.png');

}
.detail4{
    background-image: url('img/detailSchedule2.png');

}
